# general
.ds_store
.appledouble
.lsoverride

# icon must end with two \r
icon


# thumbnails
._*

# files that might appear in the root of a volume
.documentrevisions-v100
.fseventsd
.spotlight-v100
.temporaryitems
.trashes
.volumeicon.icns
.com.apple.timemachine.donotpresent

# directories potentially created on remote afp share
.appledb
.appledesktop
network trash folder
temporary items
.apdisk
